.what-we-do-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background: var(--background-primary, #0c0f12);
}

.what-we-do-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do-title {
  color: var(--accent, #9f6f3d);
  text-align: center;

  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 3.2px;
  margin-bottom: 64px;
}

.what-we-do-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.what-we-do-item {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do-item-title {
  color: var(--white, #ebebeb);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: 0.9px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.what-we-do-subtitle {
  color: var(--white, #ebebeb);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

@media screen and (min-width: 768px) {
  .what-we-do-title {
    font-size: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .what-we-do-section-wrapper {
    align-items: normal;
  }

  .what-we-do-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
