<section class="about-section">
  <div class="container about-section-wrapper">
    <div class="about-content-container">
      <h1 class="about-title" id="about-title">About us</h1>
      <p class="about-subtitle-wrapper">
        <span class="about-subtitle">Welcome to Exodus Tattoo Studio, Inverness's premier body art studio.</span> 
        <p>&nbsp;</p>
       <span class="about-subtitle">Exodus Tattoo provides high quality tattoos and piercings performed in a
        clean, friendly environment by highly qualified staff.</span> 
        <p>&nbsp;</p>
       <span class="about-subtitle"> Our artists are skilled in all styles of tattooing and piercing, flash
        and custom designs, applied using the best materials and hospital
        sterilization.</span>
      </p>
    </div>

    <div class="about-img-container">
      <picture class="about-img">
        <!-- <source
          media="(max-width: 767px)"
          srcset="./images/hero-mobile.webp 1x, ./images/hero-mobile@2x.webp 2x"
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="./images/hero-tablet.webp 1x, ./images/hero-tablet@2x.webp 2x"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero-desktop.webp    1x,
            ./images/hero-desktop@2x.webp 2x
          "
        /> -->
        <!-- <img src="./images/hero-mobile.webp" alt="Artist makes tattoo" /> -->
        <img src="./images/about-img.png" alt="Artist makes tattoo" />
      </picture>
    </div>
  </div>
</section>
