<section class="about-section">
  <div class="container about-section-wrapper">
    <h1 class="about-title" id="about-title">About us</h1>
    <div class="about-img-container">
      <picture >
        <img class="about-img" src="./images/about-desktop.webp" alt="Artist makes tattoo" />
      </picture>
    </div>
    <div class="about-content-container">
      <p class="about-subtitle-wrapper">
        <!-- <span class="about-subtitle">Welcome to Exodus Tattoo & Piercing, Inverness's premier body art studio.</span>  -->
        <!-- <p>&nbsp;</p> -->
        <!-- <span class="about-subtitle">Exodus Tattoo & Piercing provides high quality tattoos and piercings performed in a
        clean, friendly environment by highly qualified staff.</span>  -->
        <!-- <p>&nbsp;</p> -->
        <!-- <span class="about-subtitle"> Our artists are skilled in all styles of tattooing and piercing, flash
        and custom designs, applied using the best materials and hospital
        sterilization.</span> -->
        <p>&nbsp;</p>
        <span class="about-subtitle">EXODUS Tattoo and Piercings is an established tattoo and piercing parlour which is home to a number of talented and stand out artists whilst previously operating under the name Extreme tattoo and piercing for almost 12 years, EXODUS tattoo and piercings has proved that it's used to holding itself to a professional and quality standard, the only thing is new is the name and brand.
        <p>&nbsp;</p>
        We are a well established tattoo studio in Inverness, Highlands, Scotland. In our studio we look to cater for everybody’s Tattoo needs with Artists specialising in Realistic, Japanese, Neotraditional, Traditional, Dotwork and Illustrative Tattooing. We bring many incredible Guest Artists to work in our studio each month to allow our Clients the opportunity to get Tattooed by the very best Artists specialising in their own styles and collect amazing pieces of work during their visits.
        <p>&nbsp;</p>
        We have a dedicated Piercing set up in  our studios with highly trained and experienced Piercer on hand to carry out Piercing of the highest quality .</span>
      </p>
    </div>
  </div>
</section>
