<section class="footer-section">
  <div class="container footer-section-wrapper">
    <h1 class="footer-title" id="footer-title"></h1>
    <div class="footer-content-and-social-wrapper">
      <div class="footer-content-container">
        <div class="footer-content-contact-wrapper">
          <svg class="footer-svg" width="24" height="24">
            <use href="./images/sprite.svg#marker"></use>
          </svg>
          <p class="footer-content-contact">
            33 Academy street, Inverness, IV1 1JN
          </p>
        </div>
        <div class="footer-content-contact-wrapper">
          <svg class="footer-svg" width="24" height="24">
            <use href="./images/sprite.svg#envelop"></use>
          </svg>
          <p class="footer-content-contact">exodustattoinverness@gmail.com</p>
        </div>
        <div class="footer-content-contact-wrapper">
          <svg class="footer-svg" width="24" height="24">
            <use href="./images/sprite.svg#cell-phone"></use>
          </svg>
          <p class="footer-content-contact">+44-146-371-74-62</p>
        </div>
        <div class="footer-content-contact-wrapper">
          <svg class="footer-svg" width="24" height="24">
            <use href="./images/sprite.svg#clock"></use>
          </svg>
          <p class="footer-content-contact">MON - FRI: 09am-6pm</p>
        </div>
        <div class="footer-content-contact-wrapper">
          <svg class="footer-svg" width="24" height="24">
            <use href="./images/sprite.svg#clock"></use>
          </svg>
          <p class="footer-content-contact">SUT: 10am-3pm</p>
        </div>
      </div>
      <ul class="footer-social-networks" aria-label="Social Networks">
        <li class="footer-social-item">
          <a
            class="footer-link-network"
            href="tel:+441463717462"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Phone"
          >
            <svg
              class="footer-svg"
              width="28"
              height="28"
              aria-label="Phone icon"
            >
              <use href="./images/sprite.svg#phone"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-link-network"
            href="https://www.instagram.com/explore/locations/118766127826992/exodus-tattoo-and-piercings/"
            target="_blank"
            aria-label="Instagram"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-svg"
              width="24"
              height="24"
              aria-label="Instagram icon"
            >
              <use href="/images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-link-network"
            href="https://www.facebook.com/profile.php?id=100090231159540"
            target="_blank"
            aria-label="Facebook"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-svg"
              width="24"
              height="24"
              aria-label="Facebook icon"
            >
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-content-copyright">
      2024 © Exodus tattoo & piercing, All rights reserved.
    </p>
  </div>
</section>
