<section class="gallery-section">
  <div class="container gallery-section-wrapper">
    <h1 class="gallery-title" id="gallery-title">Gallery</h1>
    <ul class="gallery">
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-1.webp"
          ><picture
            ><img
              class="gallery__image"
              src="./images/gallery/tattoo-1.webp"
              data-src="./images/gallery/tattoo-1.webp"
              alt="Tattoo made by Exodus"
              title="Tattoo made by Exodus"
              loading="lazy" /></picture
        ></a>
      </li>
    </ul>
  </div>
</section>
