<section class="gallery-section">
  <div class="container gallery-section-wrapper">
    <h1 class="gallery-title" id="gallery-title">Gallery</h1>
    <div class="gallery-content-container">
      <ul class="gallery-list">
        <li class="gallery-item">
          <div class="gallery-img-container">
            <picture>
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery-mobile.webp    1x,
                  ./images/gallery-mobile@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1439px)"
                srcset="
                  ./images/gallery-tablet.webp    1x,
                  ./images/gallery-tablet@2x.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/gallery-desktop.webp    1x,
                  ./images/gallery-desktop@2x.webp 2x
                "
              />
              <img
                class="gallery-img"
                src="./images/gallery-desktop.webp"
                alt="Tattoo's photos"
              />
            </picture>
          </div>
        </li>
      </ul>
      <a href="./gallery-page.html" class="gallery-link"
        ><p class="gallery-link-text">View more works</p></a
      >
    </div>
  </div>
</section>
