<section class="gallery-section">
  <div class="container gallery-section-wrapper">
    <h1 class="gallery-title" id="gallery-title">Gallery</h1>
    <ul class="gallery">
      <li class="gallery__item">
        <img
          class="gallery__image"
          src="../images/gallery/tattoo-1.webp"
          alt="description"
        />
        <!-- <a class="gallery__link" href="">
          <img
            class="gallery__image"
            src="../images/gallery/tattoo-2.webp"
            data-src=""
            alt="description"
            title="description"
            loading="lazy"
          />
        </a> -->
      </li>
    </ul>
  </div>
</section>
