<section class="gallery-section">
  <div class="container gallery-section-wrapper">
    <h1 class="gallery-title" id="gallery-title">Gallery</h1>
    <div class="gallery-content-container">
      <ul class="gallery-list">
        <li class="gallery-item">
          <div class="gallery-img-container">
            <picture class="gallery-img">
              <!-- <source
          media="(max-width: 767px)"
          srcset="./images/hero-mobile.webp 1x, ./images/hero-mobile@2x.webp 2x"
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="./images/hero-tablet.webp 1x, ./images/hero-tablet@2x.webp 2x"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero-desktop.webp    1x,
            ./images/hero-desktop@2x.webp 2x
          "
        /> -->
              <!-- <img src="./images/hero-mobile.webp" alt="Artist makes tattoo" /> -->
              <img src="./images/gallery-1.png" alt="Tattoo 1" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
