<section class="gallery-section">
  <div class="container gallery-section-wrapper">
    <h1 class="gallery-title" id="gallery-title">Gallery</h1>
    <ul class="gallery">
      <li class="gallery__item">
        <a class="gallery__link" href="images/gallery/tattoo-1.webp">
          <img
            class="gallery__image"
            src="images/gallery/tattoo-1.webp"
            data-src="images/tattoo-1.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-2.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-2.webp"
            data-src="./images/gallery/tattoo-2.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="../images/gallery/tattoo-3.webp"
          ><img
            class="gallery__image"
            src="../images/gallery/tattoo-3.webp"
            data-src="../images/gallery/tattoo-3.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="src/images/gallery/tattoo-4.webp"
          ><img
            class="gallery__image"
            src="src/images/gallery/tattoo-4.webp"
            data-src="src/images/gallery/tattoo-4.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-5.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-5.webp"
            data-src="./images/gallery/tattoo-5.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-6.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-6.webp"
            data-src="./images/gallery/tattoo-6.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-7.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-7.webp"
            data-src="./images/gallery/tattoo-7.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-8.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-8.webp"
            data-src="./images/gallery/tattoo-8.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-9.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-9.webp"
            data-src="./images/gallery/tattoo-9.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-10.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-10.webp"
            data-src="./images/gallery/tattoo-10.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-11.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-11.webp"
            data-src="./images/gallery/tattoo-11.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-12.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-12.webp"
            data-src="./images/gallery/tattoo-12.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-13.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-13.webp"
            data-src="./images/gallery/tattoo-13.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-14.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-14.webp"
            data-src="./images/gallery/tattoo-14.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-15.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-15.webp"
            data-src="./images/gallery/tattoo-15.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-16.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-16.webp"
            data-src="./images/gallery/tattoo-16.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-17.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-17.webp"
            data-src="./images/gallery/tattoo-17.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-18.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-18.webp"
            data-src="./images/gallery/tattoo-18.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-19.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-19.webp"
            data-src="./images/gallery/tattoo-19.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-20.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-20.webp"
            data-src="./images/gallery/tattoo-20.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-21.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-21.webp"
            data-src="./images/gallery/tattoo-21.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-22.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-22.webp"
            data-src="./images/gallery/tattoo-22.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-23.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-23.webp"
            data-src="./images/gallery/tattoo-23.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-24.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-24.webp"
            data-src="./images/gallery/tattoo-24.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-25.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-25.webp"
            data-src="./images/gallery/tattoo-25.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-26.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-26.webp"
            data-src="./images/gallery/tattoo-26.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-27.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-27.webp"
            data-src="./images/gallery/tattoo-27.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-28.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-28.webp"
            data-src="./images/gallery/tattoo-28.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-29.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-29.webp"
            data-src="./images/gallery/tattoo-29.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-30.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-30.webp"
            data-src="./images/gallery/tattoo-30.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-31.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-31.webp"
            data-src="./images/gallery/tattoo-31.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-32.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-32.webp"
            data-src="./images/gallery/tattoo-32.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-33.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-33.webp"
            data-src="./images/gallery/tattoo-33.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-34.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-34.webp"
            data-src="./images/gallery/tattoo-34.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-35.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-35.webp"
            data-src="./images/gallery/tattoo-35.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-36.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-36.webp"
            data-src="./images/gallery/tattoo-36.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-37.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-37.webp"
            data-src="./images/gallery/tattoo-37.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-38.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-38.webp"
            data-src="./images/gallery/tattoo-38.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-39.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-39.webp"
            data-src="./images/gallery/tattoo-39.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-40.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-40.webp"
            data-src="./images/gallery/tattoo-40.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-41.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-41.webp"
            data-src="./images/gallery/tattoo-41.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-42.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-42.webp"
            data-src="./images/gallery/tattoo-42.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-43.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-43.webp"
            data-src="./images/gallery/tattoo-43.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-44.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-44.webp"
            data-src="./images/gallery/tattoo-44.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-45.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-45.webp"
            data-src="./images/gallery/tattoo-45.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-46.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-46.webp"
            data-src="./images/gallery/tattoo-46.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-47.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-47.webp"
            data-src="./images/gallery/tattoo-47.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-48.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-48.webp"
            data-src="./images/gallery/tattoo-48.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-49.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-49.webp"
            data-src="./images/gallery/tattoo-49.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-50.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-50.webp"
            data-src="./images/gallery/tattoo-50.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-51.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-51.webp"
            data-src="./images/gallery/tattoo-51.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-52.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-52.webp"
            data-src="./images/gallery/tattoo-52.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-53.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-53.webp"
            data-src="./images/gallery/tattoo-53.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-54.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-54.webp"
            data-src="./images/gallery/tattoo-54.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-55.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-55.webp"
            data-src="./images/gallery/tattoo-55.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-56.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-56.webp"
            data-src="./images/gallery/tattoo-56.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-57.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-57.webp"
            data-src="./images/gallery/tattoo-57.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-58.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-58.webp"
            data-src="./images/gallery/tattoo-58.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-59.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-59.webp"
            data-src="./images/gallery/tattoo-59.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-60.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-60.webp"
            data-src="./images/gallery/tattoo-60.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-61.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-61.webp"
            data-src="./images/gallery/tattoo-61.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-62.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-62.webp"
            data-src="./images/gallery/tattoo-62.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-63.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-63.webp"
            data-src="./images/gallery/tattoo-63.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-64.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-64.webp"
            data-src="./images/gallery/tattoo-64.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-65.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-65.webp"
            data-src="./images/gallery/tattoo-65.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-66.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-66.webp"
            data-src="./images/gallery/tattoo-666.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-67.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-67.webp"
            data-src="./images/gallery/tattoo-67.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-67.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-67.webp"
            data-src="./images/gallery/tattoo-67.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-68.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-68.webp"
            data-src="./images/gallery/tattoo-68.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-69.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-69.webp"
            data-src="./images/gallery/tattoo-69.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-70.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-70.webp"
            data-src="./images/gallery/tattoo-70.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-71.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-71.webp"
            data-src="./images/gallery/tattoo-71.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-72.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-72.webp"
            data-src="./images/gallery/tattoo-72.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-73.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-73.webp"
            data-src="./images/gallery/tattoo-73.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-74.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-74.webp"
            data-src="./images/gallery/tattoo-74.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-75.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-75.webp"
            data-src="./images/gallery/tattoo-75.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-76.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-76.webp"
            data-src="./images/gallery/tattoo-76.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-77.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-77.webp"
            data-src="./images/gallery/tattoo-77.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-78.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-78.webp"
            data-src="./images/gallery/tattoo-78.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-79.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-79.webp"
            data-src="./images/gallery/tattoo-79.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-80.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-80.webp"
            data-src="./images/gallery/tattoo-80.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-81.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-81.webp"
            data-src="./images/gallery/tattoo-81.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-82.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-82.webp"
            data-src="./images/gallery/tattoo-82.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-83.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-83.webp"
            data-src="./images/gallery/tattoo-83.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-84.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-84.webp"
            data-src="./images/gallery/tattoo-84.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-85.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-85.webp"
            data-src="./images/gallery/tattoo-85.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-86.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-86.webp"
            data-src="./images/gallery/tattoo-86.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-87.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-87.webp"
            data-src="./images/gallery/tattoo-87.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-88.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-88.webp"
            data-src="./images/gallery/tattoo-88.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-89.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-89.webp"
            data-src="./images/gallery/tattoo-89.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="./images/gallery/tattoo-90.webp"
          ><img
            class="gallery__image"
            src="./images/gallery/tattoo-90.webp"
            data-src="./images/gallery/tattoo-90.webp"
            alt="Tattoo made by Exodus"
            title="Tattoo made by Exodus"
            loading="lazy"
        /></a>
      </li>
    </ul>
  </div>
</section>
