<section class="hero-section">
  <div class="container hero-section-wrapper">
    <div class="hero-content-container">
      <!-- <svg class="hero-title-icon" width="38" height="38" aria-label="hero title icon">
                <use href="./images/sprite.svg#icon-sun"></use>
            </svg> -->
      <h1 class="hero-title" id="hero-title">
        Exodus<br />
        tattoo & <br />
        piercing
      </h1>
      <!-- <img class="hero-image-small-desktop" src="./images/hero-small-desktop.webp"
                srcset="./images/hero-small-desktop@2x.webp" alt="Two girls doing yoga in nature" /> -->

      <p class="hero-subtitle">
        “Our bodies were printed as blank pages to be filled with the ink of our
        hearts”
      </p>
    </div>

    <!-- <div class="hero-imag-container">
            <picture class="hero-image">
                <source media="(max-width: 767px)" srcset="
            ./images/hero-mobile.webp 1x,
            ./images/hero-mobile@2x.webp 2x
            " />
                <source media="(min-width: 768px) and (max-width: 1279px)" srcset="
            ./images/hero-tablet.webp 1x,
            ./images/hero-tablet@2x.webp 2x
            " />
                <source media="(min-width: 1280px)" srcset="
            ./images/hero-desktop.webp 1x,
            ./images/hero-desktop@2x.webp 2x
            " />
                <img src="./images/hero-mobile.webp" alt="Two girls doing sports on the river bank" />
            </picture>
        </div> -->

    <!-- Hero socials -->
    <!-- <div
      class="hero-social-media-container hero-social-media-wrapper"
      aria-label="Theme Switch and Social Media"
    >
      <div>
        <div class="hero-social-media-wrapper"></div>
      </div>
      <ul class="hero-social-media-list" aria-label="Social Media Links">
        <li class="hero-social-media-item">
          <a
            class="hero-social-media-link"
            href="tel:+441463717462"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Phone"
          >
            <svg
              class="hero-social-media-icon"
              width="28"
              height="28"
              aria-label="Phone icon"
            >
              <use href="./images/sprite.svg#phone"></use>
            </svg>
          </a>
        </li>
        <li class="hero-social-media-item">
          <a
            class="hero-social-media-link"
            href="https://www.instagram.com/explore/locations/118766127826992/exodus-tattoo-and-piercings/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg
              class="hero-social-media-icon"
              width="28"
              height="28"
              aria-label="Instagram icon"
            >
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-social-media-item">
          <a
            class="hero-social-media-link"
            href="https://www.facebook.com/profile.php?id=100090231159540"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg
              class="hero-social-media-icon"
              width="28"
              height="28"
              aria-label="Facebook icon"
            >
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div> -->

    <!-- <ul class="hero-hashtags-list">
            <li class="hero-hashtag-item">Sport</li>
            <li class="hero-hashtag-item">Healthy</li>
            <li class="hero-hashtag-item">Workout</li>
            <li class="hero-hashtag-item">Diet</li>
        </ul> -->
  </div>
</section>
