<section class="reviews-section">
  <div class="container reviews-section-wrapper">
    <h1 class="reviews-title" id="reviews-title">Our clients say</h1>
    <div class="reviews-content-container">
      <ul class="reviews-list">
        <li class="reviews-item">
          <p class="reviews-subtitle">
            “Had 4 Tattoos from Mike at Exodus Tattoo. He's great! love all the
            work he's done. Also had an ear piercing from Shane. He knows his
            stuff too! I'll keep going back and I highly recommend this place.”
          </p>
          <p class="reviews-item-name">Kathy Nickel</p>
          <p class="reviews-item-date">08/20/2023</p>
        </li>
        <li class="reviews-item">
          <p class="reviews-subtitle">
            “Had 4 Tattoos from Mike at Exodus Tattoo. He's great! love all the
            work he's done. Also had an ear piercing from Shane. He knows his
            stuff too! I'll keep going back and I highly recommend this place.”
          </p>
          <p class="reviews-item-name">Mike MacVey</p>
          <p class="reviews-item-date">10/12/2022</p>
        </li>
      </ul>
    </div>
  </div>
</section>
