.about-section {
  padding-top: 100px;
  padding-bottom: 70px;
  background: var(--background-primary, #0c0f12);
}

.about-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.about-title {
  text-align: center;
  color: var(--accent, #9f6f3d);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 3.2px;
}

.about-img-container {
  flex-shrink: 0;
  border-radius: 192px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('./images/about-mobile.webp'),
    lightgray -160.779px -139.843px / 183.007% 174.979% no-repeat;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-device-pixel-ratio: 2) {
  .about-img-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url('./images/about-desktop@2x.webp'),
      lightgray -160.779px -139.843px / 183.007% 174.979% no-repeat;
  }
}

.about-subtitle {
  color: var(--white, #ebebeb);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

@media screen and (min-width: 1440px) {
  .about-section-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: normal;
    flex-wrap: wrap;
  }

  .about-title {
    padding-top: 52px;
    padding-right: 260px;
    font-size: 64px;
  }

  .about-content-container {
    margin-top: -450px;
    width: 520px;
  }

  .about-subtitle-wrapper {
  }

  .about-subtitle {
    font-size: 16px;
  }

  .about-img-container {
    max-width: 384px;
    flex-shrink: 0;
    border-radius: 192px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url('./images/about-desktop.webp'),
      lightgray -160.779px -139.843px / 183.007% 174.979% no-repeat;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2) {
    .about-img-container {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url('./images/about-desktop@2x.webp'),
        lightgray -160.779px -139.843px / 183.007% 174.979% no-repeat;
    }
  }
}
