.mobile-header-container {
  display: flex;
  /* TODO: remove position as not needed */
  /* position: relative; */
  justify-content: space-between;
  padding: 26px 0;
}

.burger-menu-btn {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-menu-icon {
  stroke: var(--white, #ebebeb);
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  min-width: 100%;
  min-height: 100%;
  background-color: var(--background-secondary, #181c1f);
  transform: translateX(-200%);
  /* transform: translateX(0); */
  /* TODO: replace translateX(-100%) */
  transition: transform var(--transition);
}

.menu-container.is-open {
  transform: translateX(0);
}

.modal {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-secondary, #181c1f);
  min-height: 100vh;
}

.close-btn {
  width: 32px;
  height: 32px;
  z-index: 99999;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.close-modal-btn-icon {
  stroke: var(--white, #ebebeb);
  fill: var(--white, #ebebeb);
}

.nav-burger-menu {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.nav-burger-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: var(--basic-light);
  /* TODO: check font-size for mobile */
  /* font-size: 14px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.29;
}

.burger-social-media-container {
  margin: auto 0;
}

.nav-burger-menu-link {
  color: var(--white, #ebebeb);
  transition: color var(--transition);
}

.nav-burger-menu-link.active-page {
  color: var(--hover, #c4a069);
  outline: 1px solid var(--hover, #c4a069);
  outline-offset: 8px;
  border-radius: 2rem;
}

.nav-burger-menu-link-passive {
  color: var(--white, #ebebeb);
  transition: color var(--transition);
}

@media screen and (min-width: 768px) {
  .mobile-header-container {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
}
