.contacts-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background: var(--background-primary, #0c0f12);
}

.contacts-section-wrapper {
}

.contacts-title {
  color: var(--accent, #9f6f3d);
  text-align: center;

  /* H1 */
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 3.2px;

  margin-bottom: 64px;
}

.contacts-content-container {
}
