.page-header {
  background-color: var(--background-primary, #0c0f12);
}

.header-container {
  display: none;
  /* TODO: remove position as not needed */
  position: relative;
  justify-content: space-between;
  padding: 26px 0;
}

.logo-link-wrapper {
}

.logo-link {
  color: var(--white, #ebebeb);
  transition: color var(--transition);
}

.logo-link:hover,
.logo-link:focus {
  color: var(--hover, #c4a069);
}

.logo-container {
  display: flex;
}

.logo-img-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid var(--white, #ebebeb);
  outline-offset: -2px;
  margin-right: 8px;
  transition: outline-color var(--transition);
}

.logo-link:hover .logo-img-wrapper,
.logo-link:focus .logo-img-wrapper {
  outline-color: var(--hover, #c4a069);
}

.logo-img {
}

.logo-content {
  text-align: start;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.8px;
  text-transform: lowercase;
}

.logo-content-title {
  font-family: Montserrat;
  font-size: 23px;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-nav-item {
}

.header-nav-link {
  color: var(--white, #ebebeb);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.8px;
  transition: color var(--transition);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover, #c4a069);
}

.header-nav-link.active-page {
  color: var(--hover, #c4a069);
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
}
