.page-header {
  /* position: absolute; */
  /* background: var(--background-primary, #0c0f12); */
}

.header-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}

.logo-link-wrapper {
  margin-right: 530px;
}

.logo-link {
  color: var(--white, #ebebeb);
  transition: color var(--transition);
}

.logo-link:hover,
.logo-link:focus {
  color: var(--hover, #c4a069);
}

.logo-container {
  display: flex;
}

.logo-img-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid var(--white, #ebebeb);
  outline-offset: -2px;
  margin-right: 8px;
  transition: outline-color var(--transition);
}

.logo-link:hover .logo-img-wrapper,
.logo-link:focus .logo-img-wrapper {
  outline-color: var(--hover, #c4a069);
}

.logo-img {
  /* width: 48px;
  height: 48px; */
  /* margin-right: 5px; */
}

.logo-content {
  /* color: var(--white, #ebebeb); */
  text-align: start;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.8px;
  text-transform: lowercase;
}

.logo-content-title {
  font-family: Montserrat;
  font-size: 23px;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-nav-item {
}

.header-nav-link {
  color: var(--white, #ebebeb);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.8px;
  transition: color var(--transition);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover, #c4a069);
}

/* .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 40px 0;
}

.header-nav-list {
  min-width: 265px;
  min-height: 52px;

  border-radius: 60px;
  background: var(--basic-dark);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: var(--basic-light);
}

.active-page {
  color: var(--basic-dark);

  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: var(--basic-light);
}
.logo-img-container {
  width: 40px;
  height: 60px;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-social-media-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .header-nav,
  .header-social-media-container {
    display: none;
  }

  .burger-menu-btn {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu-icon,
  .toggle-switch,
  .burger-menu-btn {
    display: none;
  }

  .burger-menu-btn {
    position: absolute;
  }

  .header-container {
    max-width: 100%;
    padding: 24px 0 50px 0;
  }
}

@media screen and (min-width: 1440px) {
  .burger-menu-icon,
  .toggle-switch,
  .burger-menu-btn {
    display: none;
  }

  .burger-menu-btn {
    position: absolute;
  }

  .header-container {
    max-width: 100%;
    padding: 28px 0 50px 0;
  }
} */
