.hero-section {
  background: var(--accent, #9f6f3d);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../images/hero-bg.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/hero-bg@2x.webp');
  }
}

.hero-section-wrapper {
  display: flex;
}

.hero-content-container {
  padding-top: 182px;
  padding-bottom: 370px;
}

.hero-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.78;
  letter-spacing: 6.4px;

  margin-bottom: 32px;
}

.hero-subtitle {
  color: var(--white, #ebebeb);

  /* Subtitle */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.77;
  letter-spacing: 0.9px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 128px;
  }
}
