.what-we-do-section {
  padding-top: 70px;
  padding-bottom: 70px;
  background: var(--background-primary, #0c0f12);
}

.what-we-do-section-wrapper {
  display: flex;
  flex-direction: column;
}

.what-we-do-title {
  color: var(--accent, #9f6f3d);
  text-align: center;

  /* H1 */
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 100% */
  letter-spacing: 3.2px;

  margin-bottom: 64px;
}

.what-we-do-content-container {
}

.what-we-do-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.what-we-do-item {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do-item-icon {
  /* margin-bottom: 16px; */
}

.what-we-do-item-title {
  color: var(--white, #ebebeb);
  text-align: center;

  /* Button */
  /* font-family: Poppins; */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.9px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.what-we-do-subtitle {
  /* display: flex; */
  color: var(--white, #ebebeb);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Body_2 */
  /* font-family: Poppins; */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.8px;
}
